.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.timeContainer {
    display: flex;
}

.ageTitle {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.ages {
    font-size: 6rem;
    margin: 0;
}

.minor {
    display: flex;
    align-items: center;
    margin-left: .8rem;
    font-size: 4rem;
}

.quoteContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.quoteTitle {
    font-weight: normal;
    font-size: 1.6rem;
    width: 80%;
}